app-banner {
  margin-bottom: 40px;
}

.conteudo {
  display: flex;
  gap: 24px;
}

.passagens {
  flex-grow: 1;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
}
.destaques {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;
}

app-card {
  flex-grow: 1;
}


