.filtros-complementares {
  width: 260px;
  margin: 0 0 32px 0;
  .cabecalho {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      h4 {
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          margin: 0;
      }
  }
  button {
      width: 100%;
  }
}
